---
layout: default
---

<article>
  <header>
    <h1>{{ page.title }}</h1>
    <p>作者：{{ page.author }}，日期: {{ page.date | date: "%B %d, %Y" }} </p>
  </header>

  <!-- 添加目录 -->
  <nav>
    <h2>目录</h2>
    <ul>
      {% for heading in page.content | split: '</h2>' %}
        {% if heading contains '<h2' %}
          <li><a href="#{{ heading | split: '<h2>' | last | split: '" id="' | first }}">{{ heading | split: '<h2>' | last | split: '>' | first }}</a></li>
        {% endif %}
      {% endfor %}
      {% for heading in page.content | split: '</h3>' %}
        {% if heading contains '<h3' %}
          <li><a href="#{{ heading | split: '<h3>' | last | split: '" id="' | first }}" style="padding-left: 20px;">- {{ heading | split: '<h3>' | last | split: '>' | first }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>

  <section>
    {{ content }}
  </section>

  <footer>
    {% if page.tags %}
      <p>Tags: {% for tag in page.tags %}<a href="{{ site.baseurl }}/tags/#{{ tag }}">{{ tag }}</a> {% endfor %}</p>
    {% endif %}
  </footer>
</article>